<app-topo></app-topo>

<div *ngIf="jogoEmAndamento; else fimDeJogo">
    <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>

<ng-template #fimDeJogo>
    <div *ngIf="tipoEncerramento === 'derrota'; else fimDeJogoVitoria" class="container" style="margin-top: 50px;">   
        <div class="row">
            <div class="col">
                <h3 style="color: rgba(216, 55, 55, 0.863)"> Fim de jogo! Infelizmente você perdeu :s</h3>
                <button class="btn btn-primary" (click)="reiniciarJogo()">Jogar novamente</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #fimDeJogoVitoria>
    <div class="container" style="margin-top: 50px;">   
        <div class="row">
            <div class="col">
                <h3 style="color: rgb(4, 167, 85)"> Fim de jogo! Você ganhou!</h3>
                <button class="btn btn-primary" (click)="reiniciarJogo()">Jogar novamente</button>                
            </div>
        </div>
    </div>
</ng-template>